<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Statenator</title>
    <meta name="description" content="Statenator">
    <meta name="author" content="Vadim Kolosov & Kosta Korenkov">

    <style>
        body {
            padding: 50px 10%;
            text-align: center;
        }

        .map {
            margin-top: 40px;
        }


    </style>
</head>

<body>
    <h1><%= name %></h1>
    <h3><%= description %></h3>
    <img class="map" src="<%= map %>" style="width: 100%">
</body>
</html>